// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
#admin-page {

  padding-top:0px;


}


#nested-comment{

  margin-top:60px;


}

.comment-reply {

  display: none;


}


